*{
Padding: 0;
Margin: 0;
box-sizing: border-box;
}

body {
font-size: 100%;
background-color: #F2B705;
font-family: palatino linotype, sans-serif, arial;
}

#wrapper {
max-width: 940px;
margin: 0 auto 0 auto;
}

header { 
width: 100%;
height: 150px;
}

#hero {
width: 100%;
height: 460px;
overflow: hidden;
margin-bottom: 20px;
}

main {
width: 48.9%;
float: left;
}

aside {
width: 48.9%;
float: right;
overflow: hidden;
}

main, aside {
margin-bottom: 20px;
}

h1{
margin-bottom: 20px;
color: #310273;
}
.inner{
padding-top: 200px;
}
h2{
color: #310273;
font-weight: 900;
margin-bottom: 10px;
}
h3{
font-style: italic;
color: #310273;
}


footer {
width: 100%;
height: 60px;
margin-top: 20px;
clear: both;
/*border: solid .5px black;*/
}
footer li{
list-style-type: none;
float: left;
margin-right: 80px;
padding-left: 40px;
line-height: 50px;
color: #310273;
}
footer img{
height: 40px;
}

/*++++++++++++Forms styling++++++++++++*/

form{
max-width: 100%;
}

fieldset{
padding: 2.1%;
border: none;
}

legend{
font-size: 1.3em;
font-style: italic;
padding: 0 1.08%;
color: #310273;
margin-bottom: 20px;
font-weight: 900;
}

label {
display: block;
margin-bottom: 20px;
font-weight: 800;
color: #310273;
}
label ul{
margin-bottom: 20px;
}
input {
width: 100%;
margin-bottom: 20px;
height: 30px;    
}

/*following uses an attribute selector*/
input[type="submit"]{
width:auto;
/*float: right;*/
margin-bottom: 40px;
/*use with auto to conteract previously declared width*/
}

input[type="radio"],input[type="checkbox"]{
width: auto;
height: auto;
margin-right: 4px;
}

select {
margin-bottom: 20px;
}
textarea{
width: 100%;
resize: none;
height: 150px;
margin-bottom: 10px;
font-size: 1.1em;
}

#payments {
margin-bottom: 10px;
}

form ul{
margin-bottom: 20px;
}

form li {
list-style-type: none;
margin-left: 20px;
line-height: 1.1px;
}
